/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--accent-font);
  text-align: center;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--main-wght);
}

.header {
  font-family: var(--second-font);
  border: 2px solid var(--accent-color);
  padding-block-start: 136px;
  color: var(--accent-color);
  max-width: 700px;
  margin-inline: auto;
  margin-block-start: 100px;
  background-color: var(--bg-color);
  margin-block-end: 100px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-start: 20px;
  margin-block-end: 25px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  margin-block-end: 25px;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  text-align: left;
  margin-left: 18px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button:after {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--accent-color);
  opacity: 0.6;
  top: 17px;
  left: 4px;
  width: 0;
  height: 2px;
  transition: width 0.5s ease-in;
}

.theme-menu__button:focus-visible::after {
  width: 90%;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.theme-menu__button:disabled:before {
  content: "▶";
  width: 14px;
  height: 14px;
  position: absolute;
  animation: animated-arrow 0.5s infinite ease-in alternate;
  top: 2px;
  left: 2px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.section {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 700px;
  gap: 50px;
}

.card {
  position: relative;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  text-align: left;
}

.libel {
  position: absolute;
  top: 58px;
  right: 25px;
  font-size: 14px;
  opacity: 0.5;
  font-family: var(--second-font);
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  cursor: default;
  text-shadow: 0 0 1px var(--bg-color);
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) or
  (text-stroke: 1px var(--bg-color)) {
  .libel {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.card__title {
  font-size: 18px;
  padding: 5px 10px;
  border-bottom: 2px solid var(--accent-color);
  font-variation-settings: "wght" var(--second-wght);
}

.image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  display: block;
}

.card__text-box {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-inline: 25px;
  padding-block-start: 25px;
  padding-block-end: 25px;
  line-height: 21px;
  border-top: 2px solid var(--accent-color);
}

.text-box {
  font-size: 18px;
  text-align: left;
}

.card__button-box {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.button {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  font-family: var(--second-font);
  border: 2px solid var(--accent-color);
  background-color: transparent;
}

.button:before,
.button-save:before,
.dialog__save-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
}

.button:hover:before,
.button-save:hover:before,
.dialog__save-button:hover:before {
  width: 100%;
}

.button:focus,
.dialog:focus {
  outline: none;
}

.button:focus-visible,
.dialog__save-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.button__text,
.button__text-save {
  position: relative;
  font-size: 14px;
  color: var(--btm-color-text);
  mix-blend-mode: difference;
  cursor: pointer;
}

.card__icon-button,
.dialog__save-button {
  background: transparent;
  border: none;
}

.card__icon-button {
  height: 35px;
  padding: 0;
  margin-inline-end: 5px;
}

.card__icon-button:focus {
  border: none;
}
.dialog__save-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.button-save {
  margin-inline: auto;
  margin-block-end: 103px;
  position: relative;
  width: 335px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--accent-color);
  background: var(--second-color);
  font-family: var(--second-font);
  font-size: 14px;
}

.floppy-icon {
  width: 21px;
  position: relative;
  mix-blend-mode: difference;
  color: var(--btm-color-text);
}

.dialog {
  width: 353px;
  border: 2px solid var(--accent-color);
  padding: 30px;
  background: var(--bg-color);
  color: var(--accent-color);
  position: fixed;
  overflow: hidden;
  inset: 0;
}

.dialog__save-content {
  display: flex;
  gap: 12px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.save-text {
  font-size: 14px;
  font-family: var(--second-font);
  text-align: left;
  line-height: 21px;
  text-transform: uppercase;
}

.floppy-icon-dialog {
  width: 39px;
  position: relative;
  mix-blend-mode: difference;
  color: var(--btm-color-text);
}

.dialog__save-button {
  position: relative;
  width: 293px;
  height: 38px;
  margin-block-start: 30px;
  border: 2px solid var(--accent-color);
  font-family: var(--second-font);
  font-size: 14px;
  cursor: pointer;
}

.filter-one {
  filter: sepia(40%) blur(1px);
}

.filter-two {
  filter: invert(80%);
}

.filter-three {
  filter: brightness(-50%);
}

.filter-four {
  filter: saturate(500%) contrast(100%);
}

.filter-five {
  filter: grayscale(90%);
}

.filter-six {
  filter: sepia(60%) invert(40%) grayscale(60%) contrast(200%);
}

.filter-seven {
  filter: blur(4px) saturate(50%);
}

.filter-eight {
  filter: brightness(150%) contrast(200%) saturate(10%);
}

@media (width < 376px) {
  .button-save {
    flex-direction: column;
    width: 306px;
    height: 84px;
  }

  .header {
    padding-block-start: 120px;
  }
  .floppy-icon {
    width: 29px;
  }

  .dialog {
    padding-inline: 42px;
  }
  .dialog__save-button {
    width: 257px;
  }
}
