/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --accent-color: rgba(0, 204, 20, 1);
  --second-color: rgba(0, 0, 0, 1);
  --bg-color: rgba(0, 0, 0, 1);
  --bg-gradient: repeating-linear-gradient(
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #000,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#007f0c, #004306);
  --second-wght: 785;
  --main-wght: 465;
  --btm-color-text: rgb(0, 204, 20, 1);
  --heart-color: rgba(255, 0, 0, 1);
}

:root.theme-light {
  --accent-color: rgba(0, 0, 0, 1);
  --second-color: rgba(255, 255, 255, 1);
  --bg-color: rgba(255, 255, 255, 1);
  --bg-gradient: repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a);
  --second-wght: 700;
  --main-wght: 400;
  --btm-color-text: rgb(255, 255, 255, 1);
  --heart-color: rgba(255, 0, 0, 1);
}
